In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

a=pd.read_csv('dataa.csv')
a.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,Sugar cane,1961,1961,1000 tonnes,11640,S,Standardized data
1,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,Sugar cane,1962,1962,1000 tonnes,14357,S,Standardized data
2,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,Sugar cane,1963,1963,1000 tonnes,18438,S,Standardized data
3,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,Sugar cane,1964,1964,1000 tonnes,16139,S,Standardized data
4,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,Sugar cane,1965,1965,1000 tonnes,18667,S,Standardized data

In [59]:

new_a=a.drop(['Item','Year Code', 'Flag'], axis =1)
new_a.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Year,Unit,Value,Flag Description
0,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,1961,1000 tonnes,11640,Standardized data
1,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,1962,1000 tonnes,14357,Standardized data
2,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,1963,1000 tonnes,18438,Standardized data
3,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,1964,1000 tonnes,16139,Standardized data
4,FBSH,"Food Balances (-2013, old methodology and popu...",165,Pakistan,5511,Production,2536,1965,1000 tonnes,18667,Standardized data

In [60]:
new_a.value_counts(["Value"])

Value
11640    1
35989    1
36976    1
38059    1
38865    1
41998    1
43606    1
43608    1
44427    1
44666    1
45230    1
46333    1
47168    1
47244    1
48042    1
49373    1
50045    1
52056    1
53104    1
53820    1
54742    1
55191    1
55309    1
58397    1
63750    1
36580    1
35494    1
14357    1
34287    1
16139    1
18438    1
18659    1
18667    1
19947    1
19963    1
21242    1
21971    1
21982    1
22309    1
23167    1
23911    1
25547    1
26370    1
27326    1
27498    1
27856    1
29523    1
30077    1
32140    1
32359    1
32534    1
33029    1
63920    1
dtype: int64

In [61]:
new_a.mean()

C:\Users\Faiza\AppData\Local\Temp/ipykernel_7012/823899926.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_a.mean()

Area Code         165.000000
Element Code     5511.000000
Item Code        2536.000000
Year             1987.000000
Value           36130.754717
dtype: float64

In [62]:
a.mean()

C:\Users\Faiza\AppData\Local\Temp/ipykernel_7012/1798845826.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  a.mean()

Area Code         165.000000
Element Code     5511.000000
Item Code        2536.000000
Year Code        1987.000000
Year             1987.000000
Value           36130.754717
dtype: float64

In [63]:
a.groupby(["Value"]).mean()

       Area Code  Element Code  Item Code  Year Code    Year
Value
11640      165.0        5511.0     2536.0     1961.0  1961.0
14357      165.0        5511.0     2536.0     1962.0  1962.0
16139      165.0        5511.0     2536.0     1964.0  1964.0
18438      165.0        5511.0     2536.0     1963.0  1963.0
18659      165.0        5511.0     2536.0     1968.0  1968.0
18667      165.0        5511.0     2536.0     1965.0  1965.0
19947      165.0        5511.0     2536.0     1973.0  1973.0
19963      165.0        5511.0     2536.0     1972.0  1972.0
21242      165.0        5511.0     2536.0     1975.0  1975.0
21971      165.0        5511.0     2536.0     1969.0  1969.0
21982      165.0        5511.0     2536.0     1967.0  1967.0
22309      165.0        5511.0     2536.0     1966.0  1966.0
23167      165.0        5511.0     2536.0     1971.0  1971.0
23911      165.0        5511.0     2536.0     1974.0  1974.0
25547      165.0        5511.0     2536.0     1976.0  1976.0
26370      165.0        5511.0     2536.0     1970.0  1970.0
27326      165.0        5511.0     2536.0     1979.0  1979.0
27498      165.0        5511.0     2536.0     1980.0  1980.0
27856      165.0        5511.0     2536.0     1986.0  1986.0
29523      165.0        5511.0     2536.0     1977.0  1977.0
30077      165.0        5511.0     2536.0     1978.0  1978.0
32140      165.0        5511.0     2536.0     1985.0  1985.0
32359      165.0        5511.0     2536.0     1981.0  1981.0
32534      165.0        5511.0     2536.0     1983.0  1983.0
33029      165.0        5511.0     2536.0     1988.0  1988.0
34287      165.0        5511.0     2536.0     1984.0  1984.0
35494      165.0        5511.0     2536.0     1990.0  1990.0
35989      165.0        5511.0     2536.0     1991.0  1991.0
36580      165.0        5511.0     2536.0     1982.0  1982.0
36976      165.0        5511.0     2536.0     1989.0  1989.0
38059      165.0        5511.0     2536.0     1993.0  1993.0
38865      165.0        5511.0     2536.0     1992.0  1992.0
41998      165.0        5511.0     2536.0     1997.0  1997.0
43606      165.0        5511.0     2536.0     2001.0  2001.0
43608      165.0        5511.0     2536.0     1987.0  1987.0
44427      165.0        5511.0     2536.0     1994.0  1994.0
44666      165.0        5511.0     2536.0     2006.0  2006.0
45230      165.0        5511.0     2536.0     1996.0  1996.0
46333      165.0        5511.0     2536.0     2000.0  2000.0
47168      165.0        5511.0     2536.0     1995.0  1995.0
47244      165.0        5511.0     2536.0     2005.0  2005.0
48042      165.0        5511.0     2536.0     2002.0  2002.0
49373      165.0        5511.0     2536.0     2010.0  2010.0
50045      165.0        5511.0     2536.0     2009.0  2009.0
52056      165.0        5511.0     2536.0     2003.0  2003.0
53104      165.0        5511.0     2536.0     1998.0  1998.0
53820      165.0        5511.0     2536.0     2004.0  2004.0
54742      165.0        5511.0     2536.0     2007.0  2007.0
55191      165.0        5511.0     2536.0     1999.0  1999.0
55309      165.0        5511.0     2536.0     2011.0  2011.0
58397      165.0        5511.0     2536.0     2012.0  2012.0
63750      165.0        5511.0     2536.0     2013.0  2013.0
63920      165.0        5511.0     2536.0     2008.0  2008.0